
<div class="container">
    <p>Formulario das informações</p>
    <form [formGroup]="formulario">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput id="nome" formControlName="nome" placeholder="nome da habilidade">
        </mat-form-field>
        <mat-form-field>
            <mat-label>descrição</mat-label>
            <textarea matInput id="descricao" formControlName="descricao" placeholder="descrição da habilidade"></textarea>
        </mat-form-field>
        <mat-radio-group id="tipo" formControlName="tipo">
            <mat-radio-button value="mental">Mental</mat-radio-button>
            <mat-radio-button value="fisico">Físico</mat-radio-button>
        </mat-radio-group>
        <button mat-flat-button (click)="onSubmit()">Criar Habilidade</button>
    </form>
    
    <p>não aqui mas tem que fazer getAll habilidades de cada tipo</p>
    s
</div>