<div *ngIf="monstros" class="table">
    <div class="button_container">
        <button mat-flat-button (click)="openAddDialog()">Criar monstro</button>
    </div>
    <table mat-table [dataSource]="monstros">
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let monstro">{{monstro.nome}}</td>
        </ng-container>
        <ng-container matColumnDef="nivelFisico">
            <th mat-header-cell *matHeaderCellDef>NIvel Físico</th>
            <td mat-cell *matCellDef="let monstro">{{monstro.nivelFisico}}</td>
        </ng-container>
        <ng-container matColumnDef="nivelMental">
            <th mat-header-cell *matHeaderCellDef>Nivel Mental</th>
            <td mat-cell *matCellDef="let monstro">{{monstro.nivelMental}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="teste" (click)="openEditDialog(row)"></tr>
    </table>
    
</div>




