.modal-containers {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

app-modal-create, app-modal-b {
    width: 45%; /* Ajuste o tamanho conforme necessário */
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }