<div class="container">
    <div class="create">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <p>Insira as informações do {{data.tipo}}</p>
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput type="text" id="nome" formControlName="nome" placeholder="Digite o nome do {{data.tipo}}">
                
            </mat-form-field>
            <mat-form-field>
                <mat-label>Historia</mat-label>
                <textarea matInput type="text" id="historia" formControlName="historia" placeholder="escreva a historia do {{data.tipo}}"></textarea>
            </mat-form-field>
            
        </form>
        
       
        
    </div>
    <div class="habilidade">
        <button mat-flat-button (click)="openHabilidadeDialog()">Criar Habilidade</button>
        <div class="modal-containers">
            <div *ngIf="habilidadesMentais">
                <ul>Habilidades Mentais
                    <li *ngFor="let habilidadeMental of habilidadesMentais">
                        Nome: {{habilidadeMental.nome}}
                    </li>
                </ul>
            </div>
            <div *ngIf="habilidadesFisicas">
                <ul>Habilidades Fisicas
                    <li *ngFor="let habilidadeFisica of habilidadesFisicas">
                        Nome: {{habilidadeFisica.nome}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button mat-flat-button type="submit" (click)="onSubmit()">Add {{data.tipo}}</button>
</div>